* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reset {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  background: pink;
  font-size: 25px;
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
}

.box1 {
  display: flex;
  height: 100px;
  width: 100px;
  background: rgb(255, 182, 193); 
  border-radius: 10px;
  border: 1px solid rgb(255, 105, 180); 
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black; /* Text color */
}

.box1:focus {
  outline: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 300px; 
}

.row {
  display: flex;
}
